<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/header.html :: header(~{::title}, ~{::link}, ~{::.script})">
    <title>击鼓卖糖的博客</title>
    <link rel="stylesheet" th:href="@{/css/markdown.css}">
    <link id="css-link" rel="stylesheet" th:href="@{/css/markdown/androidstudio.css}">
    <script class="script" th:src="@{/js/highlight.min.js}"></script>
    <script class="script" th:src="@{/js/blog.js}"></script>
</head>
    <body>
        <div class="code-style">
            <span>代码风格</span>
            <select name="css" value="androidstudio.css" id="select"></select>
        </div>
        <article class="markdown-body" th:utext="${html}"></article>
    </body>
</html>