<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/header.html :: header(~{::title}, ~{::link}, ~{::.script})">
    <title>击鼓卖糖的博客</title>
    <link rel="stylesheet" th:href="@{/css/blogIndex.css}">
    <script class="script" th:src="@{/js/blogIndex.js}"></script>
</head>
<body>
    <div id="flex-box">
        <div id="index">
            <span id="/blog/javascript_3" class="active">《javascript权威指南（第三版）》</span>
            <span id="/blog/spring_mvc">《SpringMVC学习指南》小结</span>
            <span id="/blog/spring_boot_kfsz">《SpringBoot开发实战》小结</span>
            <span id="/blog/java_fxlj">java范型</span>
            <span id="/blog/java_collection">java集合</span>
            <span id="/blog/java_thread">java多线程</span>
            <span id="/blog/java_IO">javaIO</span>
            <span id="/blog/network">网络编程</span>
            <span id="/blog/mysql">mysql</span>
            <span id="/blog/jsrc">JS日常</span>
            <span id="/blog/sygj">实用工具</span>
        </div>
        <div class="content">
            <iframe id="iframe" src="/blog/javascript_3"></iframe>
        </div>
        <script type="module">
            import {test} from "/testContentType.css";
            console.log(test)
        </script>
    </div>
</body>
</html>