<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/header.html :: header(~{::title}, ~{::link}, ~{::.script})">
    <title>击鼓卖糖的博客</title>
    <link rel="stylesheet" th:href="@{/css/blogIndex.css}">
    <script class="script" th:src="@{/js/blogIndex.js}"></script>
</head>
<body>
    <a href="/blog/javascript_3" target="_blank">《javascript权威指南（第三版）》阅读分析</a>
    <a href="/blog/spring_mvc" target="_blank">《SpringMVC学习指南》阅读分析</a>
    <a href="/blog/spring_boot_kfsz" target="_blank">《SpringBoot开发实战》阅读分析</a>
    <a href="/blog/java_fxlj" target="_blank">java范型</a>
    <a href="/blog/java_collection" target="_blank">java集合</a>
</body>
</html>