<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/header.html :: header(~{::title}, ~{::link}, ~{})">
    <title>击鼓卖糖的博客</title>
    <link rel="stylesheet" th:href="@{/css/bookList.css}">
</head>
<body>
    <div class="content">
        <div class="book">
            <a target="_blank" href="/book/SpringMVC.pdf">

                <img src="/images/springMVC.png" alt="">
                <p>SpringMVC</p>
            </a>
        </div>
        <div class="book">
            <a target="_blank" href="/book/javabcgfd3b.pdf">
                <img src="/images/javagf.jpg" alt="">
                <p>《Java编程规范（第三版）》James.Gosling</p>
            </a>
        </div>
        <div class="book">
            <a target="_blank" href="/book/springbootkfsz.pdf">
                <img src="/images/springbootkf.jpg" alt="">
                <p>Spring Boot开发实战</p>
            </a>
        </div>
        <div class="book">
            <a target="_blank" href="/book/springbootjm.pdf">
                <img src="/images/springbootjm.jpg" alt="">
                <p>SpringBoot揭秘-快速构建微服务体系</p>
            </a>
        </div>
        <div class="book">
            <a target="_blank" href="/book/javasjjgusf.pdf">
                <img src="/images/javasjjgsf.jpg" alt="">
                <p>java数据结构和算法</p>
            </a>
        </div>
    </div>

<script src="/js/bookList.js"></script>
</body>
</html>