<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/header.html :: header(~{::title}, ~{::link}, ~{::.script})">
    <title>击鼓卖糖的博客</title>
    <link rel="stylesheet" th:href="@{/css/swiper.min.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <script class="script" th:src="@{/js/swiper.min.js}"></script>
</head>
<body>
    <div id="loading"></div>
    <div class="btn-list">
        <div><a href="/bookList">看书</a></div>
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper" id="swiper-wrapper"></div>
        <div class="swiper-pagination"></div>
    </div>
    <script src="/js/index.js"></script>
</body>
</html>

<!--sudo vim /etc/nginx/sites-enabled/default-->

<!--nohup java -jar blog-0.0.1-SNAPSHOT.jar --server.port=8081 >temp.txt &-->