<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="student0" class="JavaBean.Student">
        <property name="name" value="Bob"></property>
        <property name="age" value="20"></property>
    </bean>

    <bean id="student1" class="JavaBean.Student"></bean>

<!--    工厂方法-->
    <bean id="student2" class="JavaBean.Student" factory-method="getInstance">
        <constructor-arg value="10"></constructor-arg>
    </bean>

<!--    工厂bean-->
    <bean id="student-bean" class="factory.beanFactory">
        <property name="map">
            <map>
                <entry key="0">
                    <bean class="JavaBean.Student">
                        <property name="age" value="30"></property>
                        <property name="name" value="厂长"></property>
                    </bean>
                </entry>
            </map>
        </property>
    </bean>
<!--    使用工厂bean-->
    <bean id="student3" factory-bean="student-bean" factory-method="getStudent">
        <constructor-arg value="0"></constructor-arg>
    </bean>
</beans>